<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebStudy01</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  	<param-name>contextParam1</param-name>
  	<param-value>컨텍스트 파라미터의 값</param-value>
  </context-param>
  <context-param>
  	<param-name>imageFolderQN</param-name>
  	<param-value>/kr/or/ddit/images</param-value>
  </context-param>
  <context-param>
  	<param-name>movieFolderQN</param-name>
  	<param-value>D:/00.medias/movies</param-value>
  </context-param>
  <servlet>
  	<servlet-name>DescriptionServlet</servlet-name>
  	<servlet-class>kr.or.ddit.servlet03.DescriptionServlet</servlet-class>
  	<init-param>
  		<param-name>param1</param-name>
  		<param-value>파라미터값</param-value>
  	</init-param>
  	<!-- 서버 구동되면 1번째로 실행하라는 뜻 (load-on-startup은 순서를 맨 아래에 써야함) -->
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DescriptionServlet</servlet-name>
  	<url-pattern>/desc</url-pattern>
  	<url-pattern>/DESC</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ImageFormServlet</servlet-name>
  	<servlet-class>kr.or.ddit.servlet03.ImageFormServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>ImageStreamingServlet</servlet-name>
  	<servlet-class>kr.or.ddit.servlet03.ImageStreamingServlet</servlet-class>
  	<load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ImageFormServlet</servlet-name>
  	<url-pattern>/image/formUI.hw</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ImageStreamingServlet</servlet-name>
  	<url-pattern>/image/streaming.hw</url-pattern>
  </servlet-mapping>
  
  <session-config>
  	<!-- 분단위 -->
  	<session-timeout>4</session-timeout>
  </session-config>
  
  <!-- 보호 자원에 대한 요청 -->
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>CALENDAR</web-resource-name>
  		<url-pattern>/calendar/*</url-pattern>
  	</web-resource-collection>
  	<web-resource-collection>
  		<web-resource-name>INDEX</web-resource-name>
  		<url-pattern>/index.jsp</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>ROLE_ADMIN</role-name>
  	</auth-constraint>
  </security-constraint>
  <login-config>
<!--   	<auth-method>BASIC</auth-method> -->
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  		<form-login-page>/login/loginForm.jsp</form-login-page>
  		<form-error-page>/login/loginForm.jsp?error=true</form-error-page>
  	</form-login-config>
  </login-config>
  
</web-app>